#forgot-pass-confirm-box-style{
    -webkit-box-shadow:3px 3px 5px 6px #ccc;
    -moz-box-shadow:3px 3px 5px 6px #ccc;
    box-shadow:3px 3px 5px 6px #ccc;
    padding-left: 20px;
    padding-right: 20px;
}